@font-face {
    font-family: "Gil";
    src: url("../fonts/GILROY-BOLD.TTF")
}

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NOTOSANS-REGULAR.TTF")
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/OSWALD-BOLD.TTF")
}

