body {
    background: #060025;
}


.container  {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
    font-family: 'Noto Sans';
    margin: 10px;
}

.ipad {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 20px lightgray solid;
}

.ipad .video {
    width: 900px;
    height: 500px;
}

.hidden {
    display: none;
}